<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:style="'background:' + ${color}">
    <h2>
        <p style="color:yellow">App info</p>
        <br/>

        <table border="0" style="color:white;" cellpadding = "5" cellspacing = "5">
            <tr> <td>version</td> <td>:</td> <td><p th:text="${version}"/></td> </tr>
            <tr> <td>served by host</td> <td>:</td> <td><p th:text="${hostname}"/></td> </tr>
            <tr> <td>color</td> <td>:</td> <td><p th:text="${color}"/></td> </tr>
        </table>
    </h2>
</div>
</body>
</html>
