apiVersion: v1
kind: Service
metadata:
  name: petclinic-mysql-native-image
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    app: petclinic-mysql-native-image
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-mysql-native-image
  labels:
    app: petclinic-mysql-native-image
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petclinic-mysql-native-image
  template:
    metadata:
      labels:
        app: petclinic-mysql-native-image
    spec:
      containers:
        - name: petclinic-mysql-native-image
          image: marthenl/petclinic-mysql-native-image:0.6
          ports:
            - containerPort: 8080
